body {
  color: #333;
  padding: 0 40px 40px;
}

ul,
ul > li {
  text-align: left;
}

section > p:first-child {
  margin-top: 0;
}

button {
  padding: 3px 6px 3px;
  border-radius: 5px;
  background-color: white;
  border: 1px solid #656565;
}

a > button {
  color: #333;
}

button:hover {
  color: black;
  border: 1px solid #333;
  box-shadow: 0 0 0.5px #333;
}


/* Nav */

nav > ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
}

nav.centered > ul {
  justify-content: center;
}

nav.nav-top {
  margin: 0.75em 0 1em;
}

nav.nav-top > ul {
  height: 50px;
}

nav > ul > li {
  margin-right: 0.75rem;
  height: 1.25em;
  align-self: center;
}

nav > ul > li:last-child {
  margin-right: 0;
}

nav > ul > li.w-32 { width: 32px; }
nav > ul > li.w-36 { width: 36px; }
nav > ul > li.w-62 { width: 62px; }
nav > ul > li.w-66 { width: 66px; }

nav > ul > li > a {
  text-decoration: none;
  color: inherit;
}

nav > ul > li.active > a,
nav > ul > li > a:hover {
  font-weight: bold;
  text-decoration: underline;
}

nav > ul > li.img {
  display: flex;
}

nav > ul > li.img > a {
  display: flex;
  height: 1.25em;
}

nav > ul > li > img,
nav > ul > li > a > img {
  height: 1em;
  width: auto;
  align-self: center;
}

nav.btn-nav > ul > li > a:hover {
  font-weight: normal;
  text-decoration: none;
}


/* Header */

header {
  margin: 0.5em 0 1em;
  text-align: center;
}

header:first-child {
  margin-top: 2em;
}

header > h1 {
  font-size: 1.75em;
}

header > h1 > .subheader {
  font-size: .75em;
}

@media (max-height: 500px) {
  header > img.portrait {
    height: 200px;
  }
}


/* Main Section */

section.main {
  text-align: center;
  margin: 0 auto;
}

@media (min-width: 580px) {
  section.main {
    max-width: 540px;
  }
}


/* Projects */

.projects {
  width: 60%;
  margin: 0 auto;
  padding: 0;
}

.projects > .project {
  width: 100%;
  margin: 0;
  padding: 20px;
  display: flex;
  align-items: center;
  height: 200px;
  text-decoration: none;
  color: initial;
}

.projects > .project:hover {
  background-color: #ebebeb;
}

.projects > .project > img {
  max-width: 240px;
}

.projects > .project > .description {
  margin-left: 40px;
}


/* Transitions */

.portrait {
  transition: width 2s, height 2s;
  transition-duration: 2s;
  transition-timing-function: ease-in-out; /* cubic-bezier(); */
}

/*
.chat-history {
  max-height: 50vh;
  overflow: scroll;
}
*/
